/* 640 px mobile */
@media only screen and (max-width: 40em) {
    .reset-password-responsive {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .bg-image-reset-password-responsive {
      width: 100%;
      min-height: 60vh;
      object-fit: cover;
    }
    .form-box-reset-password-responsive {
      max-width: 1200px;
      padding: 2rem;
      margin: 0 auto;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  